* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
}
.app {
  background-color: beige;
  min-height: 100vh;
}
#applicationForm input,
#applicationForm select {
  box-shadow: none;
  padding: 5px;
}
#searchInput {
  box-shadow: none;
  padding: 2px;
  padding-left: 10px;
}
.main {
  display: flex;
  padding: 15px;
  gap: 5px;
}
.left {
  flex: 0 0 20%;
}
.right {
  flex: 0 0 80%;
}
.left,
.right {
  background-color: white;
  min-height: 85vh;
  border-radius: 7px;
  padding: 15px;
}
.header {
  padding-left: 15px;
  font-size: xx-large;
}
#statusCounts {
  text-align: center;
}
form {
  margin-top: 5px;
  gap: 5px;
  display: flex;
  flex-direction: column;
}
form input,
form select {
  height: 32px;
  line-height: 32px;
  border-radius: 8px;
  border: 1px solid black;
}
.validation-error {
  color: red;
  line-height: 1;
  font-size: small;
  display: none;
}
#jobType,
#status {
  line-height: 18px;
}
/*Button CSS */
#submitBtn {
  height: 28px;
  background-color: blue;
  color: white;
  border: 1px solid blue;
  border-radius: 8px;
}
#submitBtn:hover {
  background-color: rgb(53, 53, 253);
  cursor: pointer;
}

/* table css */
table {
  width: 100%;
}
table,
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.table-main {
  width: 100%;
  overflow-x: auto;
}

/* status css */
.status-applied {
  background-color: #f0f8ff;
}
.status-interviewing {
  background-color: #fffacd;
}
.status-rejected {
  background-color: #c8e6c9;
}
button.edit,
button.delete {
  margin-right: 5px;
}
#clearBtn {
  display: none;
}
#searchInput:not(:placeholder-shown) + #clearBtn {
  display: block;
}

/* media queies */
@media screen and (max-width: 600px) {
  .main {
    flex-direction: column;
  }
  .left,
  .right {
    flex: 0 0 100%;
  }
  .header {
    font-size: x-large;
  }
}
